Terminal (Environment)
    - Lengte: L
    - minimumdistance: d
    - timeshift: s
    - Berth location


Vessel
    - Arrival time: start_i
    - Departure time: end_i
    - Length: l_i

    - Assignment A_i = k ((k -> k + l_i))

    Elke vessel - op 1 plek op de terminal voor volledige tijdsperiode


QC
    - base position: p_c
    - length: r

 

Beslissingsvariabele
    for all Vessels: st_i, A_i, QC_i


Constraints
    VESSELS
    a. Geen 2 vessels op dezelfde positie, op dezelfde tijd
    b. Time shift respecteren
    c. Vessel mag niet out of bound

    QUAY CRANES
    a. Per tijdsperiode slechts 1 assignments

    ASSIGNMENT
    a. Vessel moet positioneel door QC kunnen worden geserved
    b. Elke vessel zijn minimale aantal QC

    
